body {
  font-family: "Libre Baskerville", serif;
}

.navbar-brand {
  font-size: 3.5rem;
  font-weight: 700;
}

.start-link {
  text-decoration: none;
  color: #7d7d7d;
}
.start-link:hover {
  color: #000;
}

/* .masonry-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 525px;
} */

.img {
  width: 100%;
  padding: 20px;
  object-fit: cover;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.col {
  flex-basis: 25%;
  max-width: 25%;
}

.overlay {
  padding: 0 40px 32px 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  bottom: 10px;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align-last: left;
  text-align: left;
}
.name {
  text-align: left;
  text-align-last: left;
  margin: 0;
  font-size: 13px;
}
.overlay:hover {
  color: #fff;
}
.link {
  position: relative;
  text-decoration: none;
  border-radius: none;
  border: none;
  color: #fff;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
}
.link:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1.5s;
}

@media screen and (max-width: 768px) {
  .col {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

.slideshow {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
}

.slidepage {
  background-color: #7d7d7d;
}
